<body>
<div class="container">
  <div id="app">
  </div>
</div>
<script src="app.js"></script>
<link rel="stylesheet" href="/skeleton/css/normalize.css" />
<link rel="stylesheet" href="/skeleton/css/skeleton.css" />
<link rel="stylesheet" href="/styles.css">
</body>